$TTL 1D
@   IN SOA  dns.dynamic.opentlc.com   root.dns.dynamic.opentlc.com. (
                                       2017031330      ; serial
                                       1D              ; refresh
                                       1H              ; retry
                                       1W              ; expire
                                       3H )            ; minimum
$ORIGIN         dynamic.opentlc.com.
dynamic.opentlc.com.            IN      NS      dns.dynamic.opentlc.com.
dns                     IN      A       192.168.{{ labenv_segment }}.10
ns1.{{ guid }}     IN    A    192.168.{{ labenv_segment }}.10
;
bastion.{{ guid }}     IN    A    192.168.{{ labenv_segment }}.10
*.apps.{{ guid }}     IN    A    192.168.{{ labenv_segment }}.10
;
api.{{ guid }}     IN    A    192.168.{{ labenv_segment }}.10
api-int.{{ guid }}     IN    A    192.168.{{ labenv_segment }}.10
;
bootstrap.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.99
;
master1.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.101
master2.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.102
master3.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.103
;
worker1.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.201
worker2.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.202
worker3.{{ guid }}    IN    A    192.168.{{ labenv_segment }}.203

