apiVersion: v1
baseDomain: dynamic.opentlc.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 2
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ guid }}
platform:
  none: {}
pullSecret: {{ ocp4_pull_secret | to_json }}
sshKey: '{{ sshKey_content }}'
